@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header: #01abec;
  --fade-black:#222529;
  --fade-black-hover:#33373b;
  --transparent-black:rgba(28,28,28,0.3);
  --text-tiny: 0.625rem;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-header: var(--header);
  --color-fade-black:var(--fade-black);
  --color-fade-black-hover:var(--fade-black-hover);
  --color-veil:var(--transparent-black);
  --text-tiny:var(--text-tiny);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* @utility container{
  width: 100%;
  margin-left:auto;
  margin-right:auto;

  
  @variant 2xl{
    min-width: 1400px;
  }
  @variant xl{
    min-width: 1220px;
  }
  @variant lg{
    min-width: 992px;
  }
   @variant md{
    min-width: 768px;
  }
   @variant sm{
    min-width: 576px;
  }
  
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
