@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header: #01abec;
  --fade-black:#222529;
  --fade-black-hover:#33373b;
  --transparent-black:rgba(28,28,28,0.3);
  --text-tiny: 0.625rem;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-header: var(--header);
  --color-fade-black:var(--fade-black);
  --color-fade-black-hover:var(--fade-black-hover);
  --color-veil:var(--transparent-black);
  --text-tiny:var(--text-tiny);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this to your main CSS file */
.scrollbar-hide {
  /* For IE and Edge */
  -ms-overflow-style: none;

  /* For Firefox */
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera (Webkit browsers) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}